[submodule "Agrarian_Project/Build/agrarian/build/node-red-data/projects/Agrarian-Node-Red"]
	path = Agrarian_Project/Build/agrarian/build/node-red-data/projects/Agrarian-Node-Red
	url = https://github.com/ertush/Agrarian.git
