<div class="flex-container">
    <div class="main-header">
        <h1 class="mb-2">Home</h1>
        <h2 class="mb-4" style="color: gray">Procure device</h2>
    </div>

    <img class="img-smart-farm" src="../../assets/smart-farm.jpg" alt="smart-farm-img">
    
    <div class="title">
        Help us help you manage your farm
        <ul class="mt-3">
            <li class="link-item"><object data="./../../assets/svgs/chart.svg" type="image/svg+xml"></object><h3>Get Awesome chart analytics</h3></li>
            <li class="link-item"><object data="./../../assets/svgs/chip.svg" type="image/svg+xml"></object><h3>Get Awesome chart analytics</h3></li>
            <li class="link-item"><object data="./../../assets/svgs/seedling.svg" type="image/svg+xml"></object><h3>Get Awesome chart analytics</h3></li>
            <li class="link-item"><object data="./../../assets/svgs/star.svg" type="image/svg+xml"></object><h3>Get Awesome chart analytics</h3></li>
        </ul>
    </div> 

    <div class="modal-request p-5">

        <div class="header-content p-3">
            <h2>Do you want to request a demo? or just write to us.</h2>
            <button><h3 class="m-1">Get in touch</h3></button>

        </div>

        <div class="grid-cell p-4">

            <div class="flex-col">
                    <p> To request a demo please fill the following form, and we will get back to you, soonest possible <strong>Note: </strong><i>* Required fields</i></p>
                    <div class="div-spacer"></div>
                    <object data="../../assets/svgs/hands-tech.svg" type="image/svg+xml"></object>
            </div> 
              
            <div class="flex-col">
                        <kendo-textbox-container  floatingLabel="Name" [ngStyle]="{'width': '100%'}">
                            <input kendoTextBox type="text"/>
                        </kendo-textbox-container>     
                        <kendo-textbox-container  floatingLabel="Email*" [ngStyle]="{'width': '100%'}">
                            <input kendoTextBox type="text"/>
                        </kendo-textbox-container>
                        <kendo-textbox-container  floatingLabel="Phone*" [ngStyle]="{'width': '100%'}">
                            <input kendoTextBox type="text"/>
                        </kendo-textbox-container>                  
                        <kendo-textbox-container   [ngStyle]="{'width': '100%'}">
                            <kendo-dropdownlist [data]="['Kenya', 'Uganda', 'Tanzania']" [defaultItem]="'Country*'" ></kendo-dropdownlist>    
                        </kendo-textbox-container> 
                        <div class="form-group mt-4" kendoRippleContainer [ngStyle]="{'width': '100%'}">
                            <input type="checkbox" id="chkboxonly" class="k-checkbox k-prm" unchecked />
                            <label class="k-checkbox-label" for="chkboxonly">Contact by email</label>
                        </div>   
                
            </div>

            <div class="flex-col">
                <form action="">
                    
                    <div class="form-group" kendoRippleContainer [ngStyle]="{'width': '100%'}">
                            <input type="checkbox" id="test-policy" class="k-checkbox k-prm" unchecked />
                            <label class="k-checkbox-label" for="test-policy">Test policy* <i>By checking this checkbox you hereby agree to the terms and conditions of the test policy <span class="display:flex; flex-direction: row" ><a href="#" style="color: black !important;"></a> </span></i></label>
                    </div>
                    
                    <div class="form-group" kendoRippleContainer [ngStyle]="{'width': '100%'}">
                        <input type="checkbox" id="news-letter" class="k-checkbox k-prm" unchecked />
                        <label class="k-checkbox-label" for="news-letter">News Letter <i> Subscribe to our monthly news letter and blog</i></label>
                    </div>

                    <div class="form-group" kendoRippleContainer [ngStyle]="{'width': '100%'}">
                        <p>Leave a message:</p>
                        <textarea name="message-text" id="message-us" placeholder="write to us..." cols="50" rows="10"></textarea>  
                        
                    </div>
                    
                    
                    <div class="mt-4" style="
                    display:flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    width: 100%;
                    align-items: center;
                    ">
                        <button class="m-1">
                            <h3>submit</h3>
                        </button>
                    </div>

        
                </form>
            </div>
      
        </div>

    </div>
</div>