<div class="row">
    <div id="top-bar" class="top-bar sticky-top bg-white d-xl-none " [ngClass]="{'k-shadow': navState === 'collapsed'}" *ngIf="showNav() && navState === 'collapsed' && isMobile">
        <span id="nav-toggle" class="nav-toggle d-xl-none"
            (mousedown)="toggleNav()"> 

            <div *ngIf="navState === 'collapsed'" class="app-bar-title">
                <span  class="k-icon k-i-hamburger"></span>
                <p id="app-title" class="h4 mt-2 ml-2 mb-0">{{ menuTitle }}</p>
            </div>

            <!-- <div *ngIf="navState === 'expanded'" class="app-bar-title">
                <span  class="k-icon k-i-close-circle"></span>
                <p id="app-title" class="h4 mt-2 ml-2 mb-0">close</p>
            </div> -->
            
        </span>
    </div>
    <div id="nav"
        class="sticky-top py-1 py-sm-3 k-vbox shadow col-xl-2 d-xl-flex hide container-items"
        [@toggleNav]="navState"
        *ngIf="showNav()"  
        >

        <div class="container mt-0">
          <h1 id="app-title" class="mb-0 mt-0" [ngClass]="{'pt-3': isMobile}" >Agrarian</h1>
          <p id="app-subtitle" class="h4 mb-3">{{ menuTitle }}</p>
        
            <app-user-avatar [user]="user"></app-user-avatar>
          
          <p class="h4 mt-2 mt-sm-4">Menu</p>
          <ul class="nav nav-pills flex-column">
              <li class="nav-item" id="dashbaord">
                  <a [routerLink]=" ['./dashboard'] " class="nav-link" (mousedown)="setTitle($event)" routerLinkActive="active">
                    <span class="k-icon k-i-graph k-icon-sm" routerLinkActive="active"></span>Dashboard</a>
              </li>
              <li class="nav-item" id="issues">
                  <a [routerLink]=" ['./issues'] " class="nav-link" (mousedown)="setTitle($event)" routerLinkActive="active">
                    <span class="k-icon k-i-subreport k-icon-sm" routerLinkActive="active"></span>Reports</a>
              </li>
          </ul>
          
          <p class="h4 mt-2 mt-sm-4">Account</p>
          <ul class="nav nav-pills flex-column">
              <li class="nav-item" id="profile">
                  <a [routerLink]=" ['./profile'] " class="nav-link" (mousedown)="setTitle($event)" routerLinkActive="active">
                    <span class="k-icon k-i-user k-icon-sm" routerLinkActive="active"></span>My Profile</a>
              </li>
              <li class="nav-item" id="signout">
                  <a class="nav-link" style="cursor: pointer;" (mousedown)="logOut()" routerLinkActive="active">
                    <span class="k-icon k-i-logout k-icon-sm" routerLinkActive="active"></span>Log Out</a>
              </li>
          </ul>
          
          <p class="h4 mt-2 mt-sm-4">Resources</p>
          <ul class="nav nav-pills flex-column"> 
              <li class="nav-item" id="source">
                  <a class="nav-link" href="https://github.com/telerik/kendo-angular/tree/master/examples/projects/integration-pwa-material" target="_blank"
                  role="button">
                  <span class="k-icon k-i-download k-icon-sm"></span>Download</a>
              </li>
              <li class="nav-item" id="documentation">
                  <a class="nav-link" href="https://agrarian-iot.github.io" target="_blank"
                  role="button">
                  <span class="k-icon k-i-hyperlink-globe k-icon-sm"></span>Website</a>
              </li>
          </ul>
        </div>

        <div class="container mt-sm-auto" >
          
          <div id="copy">
              <p>Copyright &copy; {{year}},<br /><a href="https://eric-dev-me.vercel.app">Eric</a> and/or his subsidiaries or affiliates.</p>
              <p>All Rights Reserved.</p>
          </div>
        </div>

    </div>

    <main class="content-wrapper col">
        <router-outlet></router-outlet>
    </main>
</div>
