<div class="row">
    <div id="top-bar" class="top-bar sticky-top bg-white d-xl-none " [ngClass]="{'k-shadow': navState === 'collapsed'}" *ngIf="showNav() && navState === 'collapsed' && isMobile">
        <span id="nav-toggle" class="nav-toggle d-xl-none"
            (mousedown)="toggleNav()"> 

            <div *ngIf="navState === 'collapsed'" class="app-bar-title">
                
                <div class="title-bar-header">
                    <app-user-avatar [user]="user" class="app-bar-avatar"></app-user-avatar>

                    <p id="app-title" class="menu-title h4"><i class="fa fa-map-marker mr-2"></i>{{ location }}</p>
                    
                    <span [ngStyle]="{'background': 1 === 1 ? '#ce4e18' : '$primary'}" class="h5 status-badge text-center">offline</span>
                </div>  
                
            </div>

        </span>
    </div>
    <div id="nav"
        class="sticky-top py-1 py-sm-3 k-vbox shadow col-xl-2 d-xl-flex hide container-items"
        [@toggleNav]="navState"
        *ngIf="showNav()"  
        >
       
        <div class="container mt-0">
            <div *ngIf="navState === 'expanded' && isMobile" class="mt-3 mr-0" style="float: right;">
                <i  class="k-icon k-i-close" (mousedown)="toggleNav()"></i>
            </div> 
          <h1 id="app-title" class="mb-0 mt-0" [ngClass]="{'pt-3': isMobile}" >Agrarian</h1>
          <p id="app-subtitle" class="h4 mb-3"><i class="fa fa-map-marker mr-2"></i>{{location}}</p>
        
           <div class="user-field">
                <object alt="agrarian-logo" *ngIf="isMobile;else avatar" class="mb-2 app-logo" data="../../assets/svgs/app-logo.svg" type="image/svg+xml"></object>
               
                <ng-template #avatar>
                    <app-user-avatar [user]="user" class="nav-avatar"></app-user-avatar>
                </ng-template>
                
                <div class='user-labels' [ngStyle]="{'margin-left.px': labelMargin}">
                    <p class="user-label-name" [ngStyle]="{'font-size.px': labelSize}"> {{ user.displayName == undefined ? user.email.split('@')[0] : user.displayName }} </p>
                    <p class="user-label-email mt-sm-auto" [ngStyle]="{'font-size.px': labelSize}"> {{ user.email }} </p>
                </div>
           </div> 
         
          <ul class="nav nav-pills flex-column">
              <li class="nav-item" id="dashbaord">
                  <a [routerLink]=" ['./dashboard']"  class="nav-link mt-3" (mousedown)="navigate('/dashboard')" routerLinkActive="active">
                    <i class="k-icon k-i-graph k-icon-sm" routerLinkActive="active"></i>Dashboard</a>
              </li>
              <li class="nav-item" id="issues">
                  <a [routerLink]=" ['./reports'] " class="nav-link mt-3" (mousedown)="navigate('/reports')" routerLinkActive="active">
                    <i class="k-icon k-i-subreport k-icon-sm" routerLinkActive="active"></i>Reports</a>
              </li>
          </ul>
          
     
          <ul class="nav nav-pills flex-column">
              <li class="nav-item" id="profile">
                  <a [routerLink]=" ['./settings'] "  class="nav-link mt-3" (mousedown)="navigate('/settings')" routerLinkActive="active">
                    <i class="k-icon k-i-gears k-icon-sm" routerLinkActive="active"></i>Settings</a>
              </li>
              <li class="nav-item" id="signout">
                  <a class="nav-link mt-3" style="cursor: pointer;" (mousedown)="logOut()" routerLinkActive="active">
                    <i class="k-icon k-i-logout k-icon-sm" routerLinkActive="active"></i>Log Out</a>
              </li>
          </ul>
          
  
          <ul class="nav nav-pills flex-column"> 
              <li class="nav-item" id="source">
                  <a class="nav-link mt-3" href="https://github.com/ertush/Agrarian/tree/master" target="_blank"
                      role="button">
                  <i class="k-icon k-i-download k-icon-sm"></i>Download</a>
              </li>
              <li class="nav-item" id="documentation">
                  <a class="nav-link mt-3" href="https://agrarian-iot.github.io" target="_blank"
                  role="button">
                  <i class="k-icon k-i-hyperlink-globe k-icon-sm"></i>Website</a>
              </li>
          </ul>
        </div>

        <div class="container mt-sm-auto" >
          
          <div id="copy">
              <p>Copyright &copy; {{year}},<br /><a href="https://eric-dev-me.vercel.app">Eric</a> and/or his subsidiaries or affiliates.</p>
              <p>All Rights Reserved.</p>
          </div>
        </div>

    </div>

    <!-- isMobile ? ((url === '#/signin') ? 'content-wrapper col': 'content-wrapper col') : ((url === '#/signin') ? '': 'content-wrapper col') -->
    <main  [ngClass]="isMobile ? ((url === '/signin') ? 'content-wrapper col': 'content-wrapper col') : ((url === '/signin') ? '': 'content-wrapper col')">
        <router-outlet></router-outlet>
    </main>
</div>
