.container-avatar {
    flex-flow: raw wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    align-items: center;
    width: 100%;
}

.avatar{
    flex: 1;
    margin-bottom: 0.7rem;
    align-items: flex-start;
}   

.user-labels{
    flex: 1;
    margin: 0;
    align-items: flex-start;
}

.user-label-name {
    margin: 0;
    font-weight: 600;
    
}

.user-label-email {
    margin: 0;
    font-weight: 100;
    color: $gray;
}
