.avatar {
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  .img-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .initials-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $deep-green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    p{
        margin:0 !important;
    }

    .letter{
        margin:0;
        padding: 0;
        font-size: 30px;
        font-weight: 400;
        color: $white;
        text-transform: capitalize;
    }
  }
}

