.chart-row {
    margin-top: 7.5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    
    &.three .chart-container-wrapper {
      width:  100%; // max-content; // 33.3%;
      
      .chart-container { 
            display:flex;
            flex-direction: row; 
            justify-content: space-between;
            align-items: center;
            gap: 1.5rem;


            .card-icon{
                color: $deep-green;
            }


          .chart-svg {
            position: relative;
            max-width: 90px;
            min-width: 40px;
            flex: 1;
          }

          .thermometer-icon{
            color: $deep-green;
          }
          
          .circle-bg {
            fill: none;
            stroke: #eee;
            stroke-width: 1.2;
          }
          
          .circle {
            fill: none;
            stroke-width: 1.6;
            stroke-linecap: round;
            animation: progress 1s ease-out forwards;
          }
          
          .circular-chart {
            &.orange {
              .circle { stroke: #ff9f00; }
              .circle-bg {stroke: #776547; }
            }
            
            &.blue {
              .circle { stroke: #00cfde; }
              .circle-bg { stroke: #557b88; }
            }
            
            &.pink {
              .circle { stroke: #ff7dcb; }
              .circle-bg { stroke: #6f5684; }
            }
          }
          
          .percentage {
            fill: $deep-green;
            font-size: 0.5em;
            text-anchor: middle;
            font-weight: 400;
          }
    }
    }
    
  }

.chart-info-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.3rem;
    
    h2 {
      color: $secondary-color;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
    }
    
    .pcnt{
        color: $secondary-color;
        font-weight: 300;
        font-size: 30px;
        line-height: 30px;
    }
    
   
  }

  
  .chart-container {
    width: 100%;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    align-items: center;
  }
  
  @media screen and (max-width: 560px) {
    .chart-row{
      grid-template-columns: 1fr !important;
    }
  }