body {
  margin:0;
  background-color: $body-bg;
  font-size: $font-size-root;
}

kendo-textbox,
kendo-card,
kendo-chart,
kendo-button,
kendo-tabstrip,
input,
textarea,
h4,
h5,
h3,
h2,
h1,
label,
a,
p{
  font-family: $font-family-sans-serif !important;
}

app-maestro-app,
app-main-menu,
app-dashboard,
app-issues,
app-profile,
app-signin {
    display: block;
}

.k-typography {
  line-height: 1.5;
}

h1,
h2,
h4,
.h1,
.h2,
.h4 {
  font-weight: bold;
}

h1,
h4,
.h1,
.h4 {
  text-transform: uppercase;
}

h4,
.h4 {
  color: rgba($black, 0.5);
  font-weight: bold;
}

p {
  color: black;
}

.statistics {
  margin-top: 1rem;
}

.k-tabstrip > .k-tabstrip-items {
  position: absolute;
  width: 100%;
  justify-content: flex-end;
  top: 35px;
  right: 0;
  z-index: 3;
}

.k-card {
  overflow: hidden;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 0.65rem;
  min-height: auto; //300px
  position: relative;
}

.v-spacer{
  margin-top: 1em;
  float: right;
}

.error {
  background: $brand-light-danger; // $brand-danger;
  border-radius: $btn-border-radius;
  color: $brand-danger; // #fefefe;
  padding: 1em;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-weight: 800;
}


.k-card-header {
  // padding: 0.65rem 1.25rem;
  font-weight: 400;
}

small,
.small {
  font-size: 70%;
}

.form-control {
  box-shadow: none;
  border: none;
}

.navbar {
  z-index: 1130;
}

.ag-theme-btn{
  font-family: $font-family-sans-serif !important;
  background-color: $gray-lighter;
  color: $primary;
  border-radius: $btn-border-radius;
}

.delete-btn{
  font-family: $font-family-sans-serif !important;
}

@media (max-width: 768px) {

  .k-tabstrip > .k-tabstrip-items {
    position: relative;
    margin-bottom: 1rem;
    justify-content: flex-end;

    .k-item .k-link {
      padding: 7px;
    }
  }
  #side-nav,
  .content-wrapper {
    padding-top: 1rem; 
  }
  .k-tabstrip-items {
    display: none;
  }
  .content-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

.k-chart-tooltip p {
  margin: 0;
  color: $white;
}

@media (min-width: 768px) {
  .content-wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 1200px) {
  small,
  .small {
    font-size: 80%;
  }
}
