#profile {
  .center{
      margin-left: auto;
      margin-right: auto;
      display: block;
  }

  .k-prm{
    background-color: $primary;
  }

  .custom-width {
      width: 100%;
  }
}

.social-links { 
  width: auto; 
  height: fit-content; 
}

.user-profile-cnt{
  width: 100%;
  height:fit-content; 

  img{
    width: 70px !important;
    height: 70px !important;
    
  }

  .initials-avatar{
    width: 70px !important;
    height: 70px !important;
    .letter{
      font-size: 35px !important;
    }
  }


}

@media (max-width: 768px) {
 
  .user-profile-cnt{
    display: grid;
    margin-right: 0.25rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    img{
      width: 90px !important;
      height: 90px !important;
      margin-left: 26px !important;
    }

    .initials-avatar{
      width: 90px !important;
      height: 90px !important;
      margin-left: 26px !important;
      .letter{
        font-size: 60px !important;
      }
    }

  }


  .social-links{
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
  }


}
