#profile {
  .center{
      margin-left: auto;
      margin-right: auto;
      display: block;
  }

  .k-prm{
    background-color: $primary;
  }

  .custom-width {
      width: 100%;
  }
}

.social-links { 
  width: auto; 
  height: fit-content; 
}

.user-profile-cnt{
  width: 100%;
  height:fit-content; 
}

@media (max-width: 768px) {
 
  .user-profile-cnt{
    display: grid;
    margin-right: 0.25rem;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .avatar{
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
  }

  .social-links{
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
  }


}
