<div [ngClass]="isMobile ? 'mt-4' : 'mt-1'" class="signin-form col-xl-4">
  <span class="error" *ngIf="error.length > 0">{{ error }}</span>
  <div class="k-card">
    
    <div class="container text-center mt-3">
      <span class="logo-bg"> <img src="../../assets/app_icon/72x72-sq-logo.png" alt="agrarian"></span>
     
    </div>
    <h4 class="text-center mt-2">Agrarian</h4>
   
    <!-- Logo Header -->
    <div class="k-card-block" *ngIf="!isSignUp && isSignedIn">
      <form class="k-form" [formGroup]="loginForm" (ngSubmit)="onLoginClick(loginForm.value)">
        <div class="form-group mt-1 ml-2 mr-2">
          <kendo-textbox-container class="custom-width" floatingLabel="Email">
              <kendo-textbox kendoTextBox type="text" formControlName="userEmail" #userEmail required></kendo-textbox>
          </kendo-textbox-container>
          <kendo-formerror *ngFor="let validation of formValidationMessages.email" [hidden]="!loginForm.get('userEmail').hasError(validation.type)">
            {{  validation.message }}
          </kendo-formerror>
        </div>
        <div class="form-group ml-2 mr-2">
          <kendo-textbox-container class="custom-width"  floatingLabel="Password">
              <kendo-textbox kendoTextBox formControlName="password" type="password" [clearButton]="true" #password required>
                <ng-template kendoTextBoxSuffixTemplate>
                  <span kendoButton look="clear" icon="eye" (mousedown)="toggleVisibility()"></span>
              </ng-template>
              </kendo-textbox>
          </kendo-textbox-container>
          <kendo-formerror *ngFor="let validation of formValidationMessages.password" [hidden]="!loginForm.get('password').hasError(validation.type)">
            {{  validation.message }}
          </kendo-formerror>
          <p class="text-xs-right small">
            <a href="#">Forgot it?</a>
          </p>
        </div>
        <div class="form-group mb-0 btn-group">
          <button kendoRippleContainer type="submit" class="k-button k-shadow login-btn ag-theme-btn ml-2 mr-2" look="outline"  [disabled]="loginForm.status === 'INVALID'">Log in</button>
        </div>
        <p class="text-xs-right small mb-0 pb-0 ml-2">
          <a style="cursor: pointer;" (mousedown)="onSignUpClick()">Don't have an account?</a>
        </p>
        <div class="separator mt-0 pt-0 mb-2"><hr class="divider">or<hr class="divider"></div>

        <div class="form-group mb-0 btn-group">
          <span kendoRippleContainer class="k-button k-shadow google-btn ml-2 mr-2" look="outline" (mousedown)="onGoogleSignIn()">
          <span class="fab fa-google  k-i-google-btn pr-2"></span>
           {{'continue with google' }}
          </span>
        </div>  

          <div class="separator mt-0 pt-0 mb-2"><hr class="divider">or<hr class="divider"></div>

          <div class="form-group mb-0 btn-group">
            <span kendoRippleContainer class="k-button k-shadow fb-btn ml-2 mr-2" look="outline" (mousedown)="onFacebookSignIn()">
            <span class="k-icon k-i-facebook k-i-fb-btn pr-2"></span>
            {{ 'continue with facebook' }}
          </span>
          </div>
        
        <!-- <div class="form-group mb-2 btn-group">
        </div>   -->
      </form>
    </div>
    <!-- Endof Signin --> 
      <div class="k-card-block" style="height:fit-content; width:fit-content" *ngIf="!isSignedIn">
        <div class="container" style="
          height:inherit; 
          width:inherit; 
          flex-flow: column nowrap; 
          justify-content: space-evenly;
          display: flex;
          align-items: center;
          margin: 1rem;
          ">
          <div class="row text-center" style="display: block; margin-bottom: 1.5rem;">  
            <div class="k-i-loading text-center" style="
              font-size: 100px; 
              color: #252830;
              width: 100px;
              height: 100px;
              "></div>
          </div>
          <div class="row text-center" style="display: block; flex:1">  
            <span *ngIf="error.length > 0" class=" k-button k-shadow ag-theme-btn" (mousedown)="goBack()"> back to login </span>
          </div>
        </div>
      </div>
    <!-- Signup block -->
    <div class="k-card-body" *ngIf="isSignUp">
      <form class="k-form"  [formGroup]="signUpForm" (ngSubmit)="onCreateAccount(signUpForm.value)">
      <div class="form-group">
        <kendo-textbox-container class="custom-width" floatingLabel="Username" >
            <input kendoTextBox type="text" id="username" formControlName="userName" #userName/>
        </kendo-textbox-container>
      </div>
      <div class="form-group">
        <kendo-textbox-container class="custom-width" floatingLabel="Email">
            <kendo-textbox kendoTextBox type="text" id="email"  formControlName="signUpEmail" #signUpEmail required></kendo-textbox>
        </kendo-textbox-container>
        <kendo-formerror  *ngFor="let validation of formValidationMessages.email" [hidden]="!signUpForm.get('signUpEmail').hasError(validation.type)">{{ validation.message }}</kendo-formerror>
      </div>
          <div class="form-group">
              <kendo-textbox-container class="custom-width"  floatingLabel="New password">
                  <input type="password" kendoTextBox  formControlName="newPassword" [clearButton]="true" #newPasword required>
              </kendo-textbox-container>
              <kendo-formerror *ngFor="let validation of formValidationMessages.password" [hidden]="!signUpForm.get('newPassword').hasError(validation.type)">
                {{ validation.message }}
              </kendo-formerror>
          </div>
          <div class="form-group">
              <kendo-textbox-container class="custom-width"  floatingLabel="Confirm password">
                  <input type="password" kendoTextBox formControlName="confirmPassword" [clearButton]="true" #confirmPassword required>
              </kendo-textbox-container>
              <kendo-formerror *ngFor="let validation of formValidationMessages.confirmPassword" [hidden]="!signUpForm.get('confirmPassword').hasError(validation.type)">
                {{ validation.message.length > 0 ? validation.message : 'Password mismatch' }}
              </kendo-formerror>
          </div>
      <div class="form-group v-spacer">
          <button kendoRippleContainer type="submit" class="k-button k-shadow ag-theme-btn" [disabled]="signUpForm.status === 'INVALID'">
            Create account</button>
      </div>
    </form> 
    </div>
    <!-- Endof Signup -->
    
  </div>
  

</div>
