<div class="signin-form col-xl-4" >
  <div class="k-card">
    <!-- Logo Header -->
    <div class="text-center">
      <!-- <h1 id="app-title" class="mb-0">Issues</h1>
      <p id="app-subtitle" class="h4 mb-4">Sample Dashboard</p> -->
     <img src="../../assets/logo2.png" class="logo" alt="Agrarian">
    </div>
    <!-- <hr class="k-hr"> -->
    <!-- Endof Logo Header -->
    <!-- Sigin block -->
    <div class="k-card-block" *ngIf="!isSignUp">
      <div class="k-form">
        <div class="form-group mt-4">
          <kendo-textbox-container class="custom-width" floatingLabel="Email or Username">
              <input kendoTextBox type="text"/>
          </kendo-textbox-container>
        </div>
        <div class="form-group">
          <kendo-textbox-container class="custom-width" floatingLabel="Password">
              <input kendoTextBox type="password"/>
          </kendo-textbox-container>
          <p class="text-xs-right small">
            <a href="#">Forgot it?</a>
          </p>
        </div>
        <div class="form-group mb-0 text-center" style="align-items: center; flex-direction: row; justify-content: space-between;">
          <button kendoRippleContainer class="k-button btn-primary h-spacer" look="outline" (click)="onLoginClick()">Log in</button>
          <button kendoRippleContainer class="k-button btn-primary h-spacer" look="outline" (click)="onSignUpClick()">Sign up</button>
        </div>
      </div>
    </div>
    <!-- Endof Signin -->
    <!-- Signup block -->
    <div class="k-card-body" *ngIf="isSignUp">
      <div class="form-group">
        <kendo-textbox-container class="custom-width" floatingLabel="Username">
            <input kendoTextBox type="text" id="username"/>
        </kendo-textbox-container>
      </div>
      <div class="form-group">
        <kendo-textbox-container class="custom-width" floatingLabel="Email">
            <input kendoTextBox type="text" id="email" />
        </kendo-textbox-container>
      </div>
      <div class="form-group">
          <kendo-textbox-container class="custom-width" floatingLabel="Old password">
              <input kendoTextBox type="password" />
          </kendo-textbox-container>
      </div>
      <div class="form-group">
          <kendo-textbox-container class="custom-width" floatingLabel="New password">
              <input kendoTextBox type="password" />
          </kendo-textbox-container>
      </div>
      <div class="form-group">
          <kendo-textbox-container class="custom-width" floatingLabel="Confirm password">
              <input kendoTextBox type="password" />
          </kendo-textbox-container>
      </div>
      <div class="form-group v-spacer">
          <button kendoRippleContainer class="k-button btn-primary" (click)="onCreateAccount()">Create account</button>
      </div>
    </div>
    <!-- Endof Signup -->
    
  </div>
</div>
