<div class="chart-row three">
  <div class="chart-container-wrapper">
      <div class="chart-container k-card k-shadow p-3" >
          <div class="chart-info-wrapper">
              <h2>Temperature</h2>
              <span class="pcnt">20.5 &deg;C</span>
          </div>
          <i class="fa-5x fas fa-temperature-low card-icon"></i>
          <div class="chart-svg">
              <svg viewBox="0 0 36 36" class="circular-chart pink">
                  <path class="circle-bg" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                  <path class="circle" stroke-dasharray="70, 100" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831">
    </path>
                <text x="18" y="20.35" class="percentage">80%</text>
               
                </svg>
          </div>
      </div>
  </div>
  <div class="chart-container-wrapper">
    <div class="chart-container k-card k-shadow p-3" >
        <div class="chart-info-wrapper">
            <h2>Humidity</h2>
            <span class="pcnt">20.5 &deg;C</span>
            <i></i>
        </div>
        <!-- <i class="fa-5x fas fa-heat card-icon"></i> -->
        <object  data="../../assets/svgs/humidity.svg" type="image/svg+xml"></object>
        <div class="chart-svg">
            <svg viewBox="0 0 36 36" class="circular-chart blue">
                <path class="circle-bg" d="M18 2.0845
    a 15.9155 15.9155 0 0 1 0 31.831
    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                <path class="circle" stroke-dasharray="70, 100" d="M18 2.0845
    a 15.9155 15.9155 0 0 1 0 31.831
    a 15.9155 15.9155 0 0 1 0 -31.831">
  </path>
              <text x="18" y="20.35" class="percentage">80%</text>
             
              </svg>
        </div>
    </div>
</div>
<div class="chart-container-wrapper">
  <div class="chart-container k-card k-shadow p-3" >
      <div class="chart-info-wrapper">
          <h2>Soil moisture</h2>
          <span class="pcnt">20.5 &deg;C</span>
      </div>
      <i class="fa-5x fas fa-water card-icon"></i>
      <div class="chart-svg">
          <svg viewBox="0 0 36 36" class="circular-chart orange">
              <path class="circle-bg" d="M18 2.0845
  a 15.9155 15.9155 0 0 1 0 31.831
  a 15.9155 15.9155 0 0 1 0 -31.831"></path>
              <path class="circle"  stroke-dasharray="70, 100" d="M18 2.0845
  a 15.9155 15.9155 0 0 1 0 31.831
  a 15.9155 15.9155 0 0 1 0 -31.831">
</path>
            <text x="18" y="20.35" class="percentage">80%</text>
           
            </svg>
      </div>
  </div>
</div>
</div>